.vnav{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	padding: 11px 0;
	width: 100%;
	@extend .transition;
	&-text{
		position: relative;
		@extend .block-inline;
		@extend .transition;
	}
	@include resp-max(md){
		&-text{
			padding-right: 5px;
		}
		&-logo{
			img{
				vertical-align: middle;
				max-height: 28px;
			}
		}
	}
	@include resp-min(md){
		top: 10px;
		&.fixed{
			top: 0;
			background-color: #fff;
			box-shadow: 0px 0px 7px 0px #000;
			.vnav-menu{
				transform: translateY(8px);
			}
			.vnav-text{
				transform: translateY(10px);
			}
			.vbtn-border-nav{
				color: setColor(corp);
			}
		}
	}
	@if ( getComp(menuExists) == true ){

		&-menu{
			@extend %vnav-transitionDef;
			@extend .bold;
			font-size: 17px;
			li{
				display: inline-block;
	 			vertical-align: middle;
				a{
					@extend .tdn;
					@extend .relative;
					color: inherit;
					&:after{
						@extend .pseudo;
						@extend .transition;
						top: 100%;
						left: 0;
						height: 3px;
						background-color: setColor(corp);
						opacity: 0;
						width: 100%;
						border-radius: 20px;
						transform: scaleX(0) translateY(15px);
					}
					&:hover{
						&:after{
							opacity: 1;
							transform: scaleX(1) translateY(0);
						}
					}
				}
			}
			@at-root{
				%vnav-transitionDef{
					@include transitionMake($tr-dur: .3s);
				}
			}
			&-btn{
				display: inline-block;
				vertical-align: middle;	
				z-index: 11;	
			  padding: 1px 6px;
			  width: 48px;
			  height: 34px;
			  line-height: 34px;
			  background-color: transparent;
			  border: none;
			  outline: none;
			  @extend %vnav-transitionDef;
			 	transform: rotate(180deg);
			  @at-root {
			  	%vbtn-menu-default{
			  		display: block;
				  	margin: auto;
				    width: 24px;
				    height: 4px;
				    background-color: setColor(light);
				    border-radius: 2px;
				   	@extend %vnav-transitionDef;
			  	}
			  	&.active{
			  		%vbtn-menu-default{
			  			background-color: darken(setColor(black, dark), 30%);
			  		}
			  	}
			  }
			  span{
			  	@extend %vbtn-menu-default;
			    position: relative;
			    &:after,
			    &:before{
			    	@extend .pseudo;
						@extend %vbtn-menu-default;
					  transform-origin: left;
			    }
			    &:before{
			    	top: -8px;
			    }
			    &:after{
			    	top: 8px;
			    }
			  }	
			  &.active{
			  	transform: rotate(360deg);
			  	span{
			  		&:after,
			  		&:before{
			  			width: 15px;
			  			top: 0;
						  transform-origin: 1.71429px center;
			  		}
			  		&:before{
						  transform: rotate(-40deg);
			  		}
			  		&:after{
							transform: rotate(40deg);
			  		}
			  	}
			  }	
			}
		}
		@include resp-max(md){
			@at-root{
				%vnav-resp{
					background-color: setColor(black, dark);
				}
				.main{
					margin-top: 55px;
				}
			}	
			@extend %vnav-resp;
			&-menu{
				@extend %vnav-resp;
				position: fixed;
				top: 56px;
				padding: 0;
		    width: 270px;
		    height: 100%;
		    transform: translateZ(0) translateX(-120%);
		    &.active{
		    	transform: none;
		    }
		    li{
		    	display: block;
		    	a{
		    		color: #fff;
		    		display: block;
		    		padding: 15px 30px;
		    		margin-bottom: 15px;
		    		background-color: darken(setColor(black, dark), 20%);
		    	}
		    }
			}
		}
		@include resp-min(md){
			@include cf();
			&-menu{
				text-align: center;
				font-size: 15px;
				li{
					padding: 15px 5px;
				}
			}
			&-menu-btn{
				display: none;
			}
		}
		@include resp-min(lg){
			&-menu{
				font-size: 18px;
			}
		}
	}
}